-# edit.html.haml using partial

%h1 编辑当前食品

= form_tag movie_path(@movie), :method => :put do

  = label :movie, :title, '食品名称'
  = text_field :movie, 'title'
  
  = label :movie, :credit, '食品价格'
  = text_field :movie, 'credit'
  
  = label :movie, :classhour, '地址'
  = text_field :movie, 'classhour'

  = label :movie, :description, '描述'
  = text_field :movie, 'description'

  = submit_tag '更新食品信息'
