-# in app/views/movies/show.html.haml

%h2 关于#{@movie.title}

%ul#details
  %li
    评分:
    = sprintf("%.1f",@movie.rating)
  %li
    价格:
    = @movie.credit
  %li
    地址:
    = @movie.classhour

%h3 描述:

%p#description= @movie.description




= link_to '编辑食品信息', edit_movie_path(@movie)

= link_to '返回食品列表', movies_path

= button_to '删除食品', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?'



%h3 相关评论如下:
%table#reviews
  %thead
    %tr
      %th 用户名
      %th 课程名称
      %th 讲课内容
      %th 授课方式
      %th 考试难易
      %th 课程优缺点
      
  %tbody
  - @reviews.each do |review|
    %tr
      %td= review.username
      %td= review.coursename 
      %td= sprintf("%.0f",review.ratingone)
      %td= sprintf("%.0f",review.ratingtwo) 
      %td= sprintf("%.0f",review.ratingthree)
      %td= review.description 
      %td= link_to '编辑', edit_review_path(review) 
      %td= link_to '删除', review, method: :delete, data: { confirm: 'Are you sure?' } 
      
=link_to '添加评论', new_review_path(@movie.title) 
