

 <h1>添加新评论</h1>

<%= form_tag reviews_path do -%>

 <tr><%= label :review, :username, '用户名称:'%>
     <%= text_field(:review, :username) %><br /><br /></tr>   
     
 <tr><%= label :review, :coursename, '食品名称:'%>
     <%= text_field(:review, :coursename) %><br /><br /></tr>    
      
 <tr><%= label :review, :ratingone, '美食口感(1~5分):'%>
     <%= select :review, :ratingone, ['1','2','3','4','5']%><br /><br /></tr>
 
 <tr><%= label :review, :ratingtwo, '色相(1~5分):'%>
     <%= select :review, :ratingtwo, ['1','2','3','4','5']%> <br  /><br /></tr>
 
 <tr><%= label :review, :ratingthree, '服务态度(1~5分):'%>
     <%= select :review, :ratingthree, ['1','2','3','4','5']%> <br /><br /></tr>
 
 <tr><%= label :review, :description, '食品优缺点'%>
     <%= text_field :review, 'description'%><br /><br /></tr>
   
   <%= submit_tag '添加评论' %>
<% end -%> 
 <tr><%= link_to 'Back', reviews_path %></tr>
 
